NODE_ENV=development
PORT=3000

# Dev DB (PostgreSQL - usada cuando NODE_ENV != "production")
DEV_DIALECT=postgres
DEV_HOST=localhost
DEV_PORT=5432
DEV_USERNAME=postgres
DEV_PASSWORD=secret
DEV_DB=odata_dev

# Prod DB
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=secret
DB=odata_prod

# JWT Secret
SECRET_KEY=your-secret-key-here
